@{
    ViewData["Title"] = "Cart Page";
}


 
    <table class="table table-borderless">
        <tr>
            <th scope="col"></th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Sub Total</th>
        </tr>
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                
                <td><a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id"><i class="fa fa-trash-o  fa-3x text-danger" aria-hidden="true" ></i></a></td>
                <td><img src="~/images/@item.Product.Photo" width="60" /> <p>@item.Product.Name</p></td>
                <td>R @item.Product.Price</td>
                <td>@item.Quantity</td>
                <td>R @(item.Product.Price * item.Quantity)</td>
            </tr>
        }
        <tr class="total">
            <td align="right" colspan="4" >Sum</td>
            <td>
                R  @ViewBag.total
            </td>
        </tr>
    </table>
    <br>
    <a class="btn btn-lg btn-primary" role="button" asp-controller="product" asp-action="index">Continue Shopping</a>
    <a class="btn btn-lg btn-success" role="button" asp-controller="product" asp-action="index">Check Out</a>
     